### {{ name }} attributes ### {#{{ name | downcase }}-attributes}

<table>
    {% assign class = nodeShape.targetClass | default: nodeShape.class | default: targetClass -%}
    <caption>[{{ class }}]({{ class }}) properties</caption>
    <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Cardinality</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        {% if nodeShape.nodeKind == "IRI" %}
        <tr>
            <th scope="row">@id</th>
            <td>The HTTP [[IRI]] of the {{ name }}.</td>
            <td>1</td>
            <td>Required</td>
        </tr>
        {% elsif nodeShape['nde:futureChange'].nodeKind == "IRI" %}
        <tr>
            <th scope="row">@id</th>
            <td>The HTTP [[IRI]] of the {{ name }}.</td>
            <td>1</td>
            <td>Recommended<br><small>v{{ nodeShape['nde:futureChange']['nde:version'] }}: must be IRI</small></td>
        </tr>
        {% endif %}
        {% assign merged_properties = nodeShape.property | mergePropertiesByPath -%}
        {% for property in merged_properties %}
        {% unless property.path %}{% continue %}{% endunless %}
        {%- assign pattern_str = property.pattern | default: "" -%}
        {%- assign is_date_shape = pattern_str contains "[0-9]{4}" -%}
        {%- assign description = property.description | lang: "en"
            | replace: "IANA media types", "[[IANA-MEDIA-TYPES]]"
            | replace: "BCP 47", "[[!BCP47]]"
            | replace: "DERA", "[[!DERA]]"
            | replace: "IRI", "[[!IRI]]"
            | replace: "MUST", "*MUST*"
            | replace: "SHOULD", "*SHOULD*"
        -%}
        <tr>
            <th scope="row">[{{ property.path }}]({{ property.path }})</th>
            <td>
                {%- if is_date_shape -%}
                    {%- if description != "" -%}{{ description }} {% endif -%}See [[#dataset-date]].
                {%- elsif property.path == "schema:publisher" or property.path == "schema:creator" -%}
                    {{ description }} See [[#creator-publisher-information]].
                {%- elsif property.path == "schema:contactPoint" -%}
                    {{ description }} See [[#contact]].
                {%- elsif property.path == "schema:mainEntityOfPage" -%}
                    {{ description }} See [[#resolvable-iris]].
                {%- elsif property.path == "schema:usageInfo" -%}
                    {{ description }} See [[#usage-information]].
                {%- elsif name == 'Dataset' -%}
                    {%- if property.path == "schema:name" -%}
                        {{ description }} See [[#dataset-basic]].
                    {%- elsif property.path == "schema:description" -%}
                        {{ description }} See [[#dataset-basic]].
                    {%- elsif property.path == "schema:license" -%}
                        {{ description }} See [[#dataset-license]].
                    {%- elsif property.path == "schema:distribution" -%}
                        {{ description }} See [[#dataset-distributions]].
                    {%- elsif property.path == "schema:version" -%}
                        {{ description }} See [[#dataset-versions]].
                    {%- elsif is_date_shape -%}
                        See [[#dataset-date]].
                    {%- else -%}
                        {{ description }}
                    {%- endif -%}
                {%- else -%}
                    {{ description }}
                {%- endif -%}
            </td>
            <td>
                {% if property.maxCount == 0 -%}
                    0
                {% elsif property.minCount -%}
                    {% if property.minCount == property.maxCount -%}
                        {{ property.minCount }}
                    {% else -%}
                        {{ property.minCount }}..{{ property.maxCount | default: "n" }}
                    {% endif -%}
                {% endif -%}
            </td>
            <td>
                {% assign is_required = false -%}
                {% if property.maxCount == 0 -%}
                    Discouraged
                {% elsif property.minCount > 0 -%}
                    {% assign severity = property.severity | default: "Violation" -%}
                    {% if severity == "Violation" or property.severity == "Warning" -%}
                        Required
                        {% assign is_required = true -%}
                    {% else -%}
                        Recommended
                    {% endif -%}
                {% else -%}
                    Recommended
                {% endif -%}
                {% if property['nde:futureChange'] -%}
                    {% assign change = property['nde:futureChange'] -%}
                    {% assign future_text = "" -%}
                    {% if change.datatype -%}
                        {% assign future_text = change.datatype | replace: 'http://www.w3.org/2001/XMLSchema#', 'xsd:' | prepend: 'must be ' -%}
                    {% elsif change.pattern -%}
                        {% capture future_text %}must match <code>{{ change.pattern }}</code>{% endcapture -%}
                    {% elsif change.nodeKind == "IRI" and change.severity != "Violation" -%}
                        {% assign future_text = "must be IRI" -%}
                    {% elsif change.maxCount -%}
                        {% assign future_text = change.maxCount | prepend: "max " -%}
                    {% elsif change.severity == "Violation" and property.maxCount == 0 -%}
                        {% assign future_text = "no longer allowed" -%}
                    {% elsif change.severity == "Violation" and property.nodeKind == "IRI" -%}
                        {% assign future_text = "must be IRI" -%}
                    {% elsif change.severity == "Violation" and property.datatype -%}
                        {% assign future_text = property.datatype | replace: 'http://www.w3.org/2001/XMLSchema#', 'xsd:' | replace: 'http://www.w3.org/1999/02/22-rdf-syntax-ns#', 'rdf:' | prepend: 'must be ' -%}
                    {% elsif change.severity == "Violation" and is_date_shape -%}
                        {% assign future_text = "must be valid ISO 8601" -%}
                    {% elsif change.severity == "Violation" and is_required == false -%}
                        {% assign future_text = "becomes required" -%}
                    {% endif -%}
                    {% if future_text != "" -%}
                        <br><small>v{{ change['nde:version'] }}: {{ future_text }}</small>
                    {% endif -%}
                {% endif -%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
