### {{ name }} attributes ### {#{{ name | downcase }}-attributes}

<table>
    {% assign class = nodeShape.targetClass | default: nodeShape.class -%}
    <caption>[{{ class | replace: 'https://schema.org/', 'https://schema.org/' }}]({{ class }}) properties</caption>
    <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Cardinality</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        {% if nodeShape.nodeKind == "IRI" %}
        <tr>
            <th scope="row">@id</th>
            <td>The HTTP [[IRI]] of the {{ name }}.</td>
            <td>1</td>
            <td>Required</td>
        </tr>
        {% endif %}
        {% assign merged_properties = nodeShape.property | mergePropertiesByPath -%}
        {% for property in merged_properties %}
        <tr>
            <th scope="row">[{{ property.path | replace: 'https://schema.org/', 'schema:' }}]({{ property.path }})</th>
            <td>
                {%- if property.node == "http://terms.netwerkdigitaalerfgoed.nl/ns/register#DateTimeShape" or property.node['@id'] == "http://terms.netwerkdigitaalerfgoed.nl/ns/register#DateTimeShape" -%}
                    See [[#dataset-date]].
                {%- elsif property.path == "https://schema.org/publisher" or property.path == "https://schema.org/creator" -%}
                    {{ property.name | lang: "en" }}. See [[#creator-publisher-information]].
                {%- elsif property.path == "https://schema.org/contactPoint" -%}
                    {{ property.description | lang: "en" }} See [[#contact]].
                {%- elsif name == 'Dataset' -%}
                    {%- if property.path == "https://schema.org/name" or property.path == "https://schema.org/description" -%}
                        {{ property.name | lang: "en" }}. See [[#dataset-basic]].
                    {%- elsif property.path == "https://schema.org/license" -%}
                        See [[#dataset-license]].
                    {%- elsif property.path == "https://schema.org/distribution" -%}
                        See [[#dataset-distributions]].
                    {%- elsif property.path == "https://schema.org/version" -%}
                        See [[#dataset-versions]].
                    {%- elsif property.node == "http://terms.netwerkdigitaalerfgoed.nl/ns/register#DateTimeShape" or property.node['@id'] == "http://terms.netwerkdigitaalerfgoed.nl/ns/register#DateTimeShape" -%}
                        See [[#dataset-date]].
                    {%- else -%}
                        {{ property.description | lang: "en" }}
                    {%- endif -%}
                {%- else -%}
                    {{ property.description | lang: "en" }}
                {%- endif -%}
            </td>
            <td>
                {% if property.minCount -%}
                    {% if property.minCount == property.maxCount -%}
                        {{ property.minCount }}
                    {% else -%}
                        {{ property.minCount }}..{{ property.maxCount | default: "n" }}
                    {% endif -%}
                {% endif -%}
            </td>
            <td>
                {% if property.minCount > 0 -%}
                    {% assign severity = property.severity | default: "Violation" -%}
                    {% if severity == "Violation" or property.severity == "Warning" -%}
                        Required
                    {% else -%}
                        Recommended
                    {% endif -%}
                {% else -%}
                    Recommended
                {% endif -%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
